<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" style="position: fixed;">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title align="center">{{ 'Menu.Aboutus' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
          <div class="container">
            <h2 align="center" >{{ 'About.heading' | translate }}</h2> 
            <br><br>
            <img src="assets\Image\about.jpg" >
            <br><br>
            <p>&nbsp; &nbsp; {{ 'About.para' | translate }}</p>  
            <ul>
              <li>{{ 'About.1' | translate }}</li> 
              <li>{{ 'About.2' | translate }}</li> 
              <li>{{ 'About.3' | translate }}</li> 
              <li>{{ 'About.4' | translate }}</li> 
              <li>{{ 'About.5' | translate }}</li> 
              <li>{{ 'About.6' | translate }}</li> 
              <li>{{ 'About.7' | translate }}</li> 
              <li>{{ 'About.8' | translate }}</li> 
           </ul>
          </div>

</ion-content>
</ion-app>