<ion-header translucent>
    
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/soil"></ion-back-button>
      
    </ion-buttons>
    <ion-title>{{'Soil.loamy' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="container">
      <h2><b>{{'Soil.loamy' | translate }}</b> {{'SoilC.loamy1' | translate }}</h2>
      <br><img src = "assets\Image\Soil\6.jpg" style="margin-top: 4%; margin-bottom: 4%;">
     <br><h2><b>{{'SoilC.suitable' | translate }}</b>{{'SoilC.loamy2' | translate }}</h2>


    </ion-card-content>
  </ion-card>

</ion-content>