<ion-header translucent>
    
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/soil"></ion-back-button>
      
    </ion-buttons>
    <ion-title>{{ 'Soil.clay' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content >
      <div class="container">
        <h2><b>{{ 'Soil.clay' | translate }}</b> {{ 'SoilC.clay1' | translate }}</h2>
       <img src = "assets\Image\Soil\2.jpg" style="margin-top: 4%; margin-bottom: 4%;">
      <h2> <b>{{ 'SoilC.suitable' | translate }}</b> {{ 'SoilC.clay2' | translate }}</h2>
      </div>
     

    </ion-card-content>
  </ion-card>

</ion-content>