.imgg{
    height: 50%;
}

.heading {
    font-size: 30px;
    color: #33423E;
}
.link{
    color: #556D6A;
    font-weight: bold;
    font-style: italic;
}
ion-toolbar{
    --background: #67A995;
    color: white;
}
.b{
    font-weight: bold;
    font-size:18px ;
    font-style: italic;
    color: #4C5957;
    padding-bottom: 6px;
}
.soil{
    font-size: 15px;
    padding-top: 20px;
    text-align: justify;
}
ion-list{

    padding-left: 5%;
    padding-right: 5%;
    
}
.myview{
    --background: #E7F6F2 ;
}