<ion-header translucent>
    
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/soil"></ion-back-button>
      
    </ion-buttons>
    <ion-title>{{'Soil.sand' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content >
      <div class="container">
        <h2><b>{{'Soil.sand' | translate }}</b> {{ 'SoilC.Sandy1' | translate }}</h2>
       <img src = "assets\Image\Soil\1.png" style="margin-top: 4%; margin-bottom: 4%;">
      <h2><b>{{ 'SoilC.suitable' | translate }}</b>{{ 'SoilC.Sandy2' | translate }}</h2>

         
 

      </div>
     

    </ion-card-content>
  </ion-card>

</ion-content>

