ion-toolbar{
    --background: #67A995;
    color: white;
    text-align: center;
}
ion-back-button{
    position: fixed;
}

.container{
    text-align: justify;
    color: #23473E;
    line-height: 1.8;
}