
ion-toolbar{
    --background: #67A995;
    color: white;
}
.tool{
    background-color: #67A995;
}
.up{
    height : 170px;
    align-content: center;
    background-color: #67A995;
    
}
.icon1{
    padding-top: 14px;
    padding-left: 7px;
    font-size: 40px;
    color: white;
    
    
}
.content-icon{
    float: right;
    padding-top:80px;
    font-size: 25px;
    padding-right:22px;
    color: #C7D8D3;
    
}
