<ion-content>
  <ion-header translucent>
    
    <ion-toolbar>
      <ion-buttons slot="start" style="position: fixed;">
        <ion-back-button defaultHref="/home"></ion-back-button>
        
      </ion-buttons>
      <ion-title align="center">{{ 'Tools.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ion-card>
      <ion-card-header>
        <ion-card-title><h1><b>{{ 'Tools.si' | translate }}</b></h1></ion-card-title>
               <img src="../../assets/Image/tools/a.jpg" class="i">
        </ion-card-header>
      <ion-card-content class="s">
        <h2><p class="p">{{ 'Tools.sickel' | translate }} </p></h2> </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        <ion-card-title><h1><b>{{ 'Tools.sp' | translate }}</b></h1></ion-card-title>
        <img src="../../assets/Image/tools/b6.jpg" class="i" >
  
      </ion-card-header>
      <ion-card-content>
        <h2>
          <p class="p"> {{ 'Tools.spade' | translate }} </p>  </h2>  </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        <ion-card-title><h1><b>{{ 'Tools.a' | translate }}</b></h1></ion-card-title>
        <img src="../../assets/Image/tools/c2.jpg" class="i" >
  
      </ion-card-header>
      <ion-card-content>
        <h2>
         <p class="p"> {{ 'Tools.axe' | translate }}
            </p> </h2>  </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        <ion-card-title><h1><b>{{ 'Tools.pi' | translate }}</b></h1></ion-card-title>
        <img src="../../assets/Image/tools/x1.jpg"  class="i">
  
  
  
      </ion-card-header>
      <ion-card-content>
        <h2>
  <p class="p">{{ 'Tools.pickaxe' | translate }}</p>         </h2>  </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        <ion-card-title><h1><b>{{ 'Tools.h' | translate }}
        </b></h1></ion-card-title>
        <img src="../../assets/Image/tools/d.jpg" class="i" >
  
      </ion-card-header>
      <ion-card-content>
        <h2>
  <p class="p">{{ 'Tools.hoe' | translate }}  </h2>  </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        <ion-card-title><h1><b>{{ 'Tools.pl' | translate }}</b></h1></ion-card-title>
        <img src="../../assets/Image/tools/m1.jpg" class="i" >
  
      </ion-card-header>
      <ion-card-content>
        <h2>
  <p class="p">{{ 'Tools.plouge' | translate }}</p>       </h2>  </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        <ion-card-title><h1><b>{{ 'Tools.y' | translate }}</b></h1></ion-card-title>
      <img src="../../assets/Image/tools/m2.jpg" class="i" >
  
      </ion-card-header>
      <ion-card-content>
        <h2>
  <p class="p">{{ 'Tools.yoke' | translate }}</p>        </h2>  </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        <ion-card-title><h1><b>{{ 'Tools.l' | translate }}</b></h1></ion-card-title>
      <img src="../../assets/Image/tools/m3.jpg" class="i" >
  
      </ion-card-header>
      <ion-card-content>
        <h2>
  <p class="p">{{ 'Tools.lev' | translate }}</p>       </h2>  </ion-card-content>
    </ion-card>
    
</ion-content>