ion-toolbar{
    --background: #67A995;
    color: white;
  }
ion-card{
.i{
  width: 80%;
  height: 80%;
  border-radius: 1rem;
  padding-left: 5em;
  background-size: 5rem;
  padding-bottom: 30px;
}
}
ion-card-title{
  
  color: #104336;
 
}
ion-card-header{
  ion-card{
    --backgroundcolor: rgb(180, 63, 155);
    
  }
}
ion-card{
  --background: rgb(240, 250, 247);
}
ion-card-content{
 
 
  font-display: justify;
  text-align: justify;
  
}
p{
  font-size: large;
  
  
}
