ion-toolbar{
    --background: #67A995;
    color: white;
}
.ques{
    font-weight: bold;
    font-size: 17px;
    color:#3C524D;
}
.ans{
    font-size: 16px;
    padding-top: 6px;
    border-style: none;
}
.container{
    text-align: justify;
    margin-bottom: 20px;
    background-color: #E1F3EF;
    border-radius: 16px;
    padding : 10px;
    border: black 1px;
}
